    <header class="dashboard-header">
      <div class="dashboard-header__title">Class 4B (2025/2026)</div>

    <div class="dashboard-header__right">
        <button class="icon-button">
        <span class="icon-button__badge">3</span>
        <span class="icon-button__icon">🔔</span>
        </button>
        <div class="dashboard-user-menu">

        <button class="dashboard-avatar" id="userMenuButton">
            <span>AB</span>
        </button>

        <div class="user-dropdown" id="userDropdown">
            <a href="#" class="user-dropdown__item">Settings</a>

            <%= button_to 'Logout',
                destroy_user_session_path,
                method: :delete,
                class: 'user-dropdown__item user-dropdown__logout',
                form: { class: 'dropdown-logout-form' } %>
        </div>
        </div>
      </div>
    </header>