.d-flex.justify-content-between.align-items-center.mb-3
  h2 = params[:resource].to_s.titleize
  = link_to t('admin.form.new'), admin_new_resource_path(resource: params[:resource]), class: 'btn btn-primary'

.table-responsive
  table.table.table-striped.align-middle
    thead
      tr
        - @resource_class.columns.first(6).each do |col|
          th = col.name.titleize
        th
    tbody
      - @records.each do |record|
        tr
          - @resource_class.columns.first(6).each do |col|
            td = record.public_send(col.name)
          td.text-end
            = link_to t('common.view'), admin_resource_path(resource: params[:resource], id: record.id), class: 'btn btn-sm btn-outline-secondary'
            = link_to t('common.edit'), admin_edit_resource_path(resource: params[:resource], id: record.id), class: 'btn btn-sm btn-outline-primary'
            = link_to t('common.delete'), admin_destroy_resource_path(resource: params[:resource], id: record.id), data: { turbo_method: :delete, turbo_confirm: t('admin.form.confirm_delete') }, class: 'btn btn-sm btn-outline-danger'

