devise_jwt_secret_key: <%= ENV.fetch('DEVISE_JWT_SECRET_KEY') { '1023asdkajasdfkljasdf90239sdf23sab' } %>

db:
  host: localhost
  user:
  pass:
  port: 5432
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>

# redis_url: <%= ENV['REDIS_URL'] || 'redis://localhost:6379/4' %>

twilio:
  account_sid: <%= ENV.fetch('TWILIO_ACCOUNT_SID') { '' } %>
  auth_token: <%= ENV.fetch('TWILIO_AUTH_TOKEN') { '' } %>
  phone_number: <%= ENV.fetch('TWILIO_PHONE_NUMBER') { '' } %>
  whatsapp_number: <%= ENV.fetch('TWILIO_WHATSAPP_NUMBER') { '' } %>
  whatsapp_from_number: <%= ENV.fetch('TWILIO_WHATSAPP_FROM_NUMBER') { '+14155238886' } %>
  messaging_service_sid: <%= ENV.fetch('TWILIO_MESSAGING_SERVICE_SID') { '' } %>
