:concurrency: 5
:pidfile: tmp/pids/sidekiq.pid
:logfile: log/sidekiq.log
:timeout: 45

:queues:
  - internal
  - default
  - mail

:scheduler:
  :schedule:
    clear_register_flow:
      cron: "0 0 * * *" # Runs every day at midnight     '* * * * *' every minute
      class: "ClearRegisterFlowJob"

staging:
  :concurrency: 10

production:
  :concurrency: 20
