@import 'variables';
@import 'typography';
@import 'layout';
@import 'pages/dashboard-superadmin';
@import 'pages/schools';
@import 'pages/headmaster-superadmin';
@import 'pages/activity-log';
@import 'pages/school-profile-admin';
@import 'pages/teachers';
@import 'pages/classes-admin';
@import 'pages/auth';
@import 'pages/notifications';
